<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-body">
        <form [formGroup]= "newUserForm" role="form">
          <div class="form-group">
            <h2>Create account</h2>
          </div>
          <div class="form-group">
            <label class="control-label" for="firstName">First name</label>
            <input id="firstName" type="text"  class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="lastName">Last name</label>
            <input id="lastName" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="userName">User name</label>
            <input id="userName" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="signupEmail">Email</label>
            <input id="signupEmail" type="email" class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="signupPassword">Password</label>
            <input id="signupPassword" type="password" class="form-control" placeholder="at least 6 characters" >
          </div>
          <div class="form-group">
            <label class="control-label" for="signupPasswordagain">Password again</label>
            <input id="signupPasswordagain" type="password" class="form-control">
          </div>
          <div class="form-group">
            <button id="signupSubmit" type="submit" class="btn btn-info btn-block">Create your account</button>
          </div>
          <p class="form-group">By creating an account, you agree to our <a href="#">Terms of Use</a> and our <a href="#">Privacy Policy</a>.</p>
          <hr>
          <p>Already have an account? <a href="#">Sign in</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
