<body>
  <div class="container-fluid">

    <div class="row justify-content-left">
      <div class="col-12 col-sm-6 col-md-3">
        <form class="login" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
          <legend><strong>Login</strong></legend> <img src="../../../assets/login2.jpg" class="img">
          <hr>
          <div class="form-group">

            <input type="email" placeholder="Email" formControlName="email" class="form-control" id="email" required>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Email is required.
              </div>
            </div>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

          </div>
          <div class="form-group">

            <input type="password" placeholder="Password" formControlName="password" class="form-control" id="password">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Password is required.
              </div>
            </div>
          </div>

          <button type="submit" class="btn">Submit</button>
          <hr>
          <p>Do you need an account? <a routerLink="/">Sign Up</a></p>
        </form>
      </div>
    </div>

  </div>

</body>
