<!-- details card section starts from here -->
<div *ngIf='interventionrecords'>
    
<section class="details-card">
    <h1 class="main-header">INTERVENTION RECORDS</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor ="let interventionrecord of interventionrecords;">
                <div class="card-content">
                    <div class="card-img">
                        <img src="{{interventionrecord.image}}" alt="https://res.cloudinary.com/dkkqfs44i/image/upload/v1593270129/media/images/intervention_default_al92r5.jpg">
                        <span><h4>{{interventionrecord.title}}</h4></span>
                    </div>
                    <div class="card-desc">
                        <h3>{{interventionrecord.title}}</h3>
                        <p>{{interventionrecord.description}}</p>
                            <a href="intervention-record/{{interventionrecord.id}}" class="btn-card">Read</a>  
      
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
</div>
<!-- details card section starts from here -->