<!-- details card section starts from here -->

<body>
  <div *ngIf='interventionrecords'>
    <div class="text-center">
      <button class="btn "> <a routerLink="/add/new-intervention-record">Add
          Intervention <i class="icon-share"></i> </a></button>
    </div>
    <section class="details-card">
      <h1 class="main-header">INTERVENTION RECORDS</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let interventionrecord of interventionrecords;">
            <div class="img-columns">
              <div class="card-img" style="height: 450px; position: inherit;">
                <img src="{{interventionrecord.image}}" alt="media/images/intervention_default_ozvizh.jpg">

              </div>
              <div class="card-desc">
                <h3>{{interventionrecord.title}}</h3>
                <p>{{interventionrecord.description}}</p>
                <a href="intervention-record/{{interventionrecord.id}}" class="btn-card">Read</a>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</body>
<!-- details card section starts from here -->
