<!------ Include the above in your HEAD tag ---------->

<!-- details card section starts from here -->


<div *ngIf='flags'>

  <section class="details-card">
    <div class=" text-center mb-5">
      <button class="btn "> <a routerLink="/add/new-flag">Add
          Intervention <i class="icon-share"></i> </a></button>
    </div>
    <h1 class="main-header" style="color: white;">All Flag Records</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let flag of flags;">
          <div class="card-content">
            <div class="card-img">

              <img src="{{flag.image}}" alt="img">
              <span>
                <h4>{{flag.title}}</h4>
              </span>
            </div>

            <div class="card-desc">
              <h3>{{flag.title}}</h3>
              <p>{{flag.description}}</p>
              <a href="flag/{{flag.id}}" class="btn-card">View</a>

            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

</div>

<!-- details card section starts from here -->
