

<!------ Include the above in your HEAD tag ---------->

<!-- details card section starts from here -->
<div *ngIf='flag'>

<section class="details-card">
    <h1 class="main-header">All Flag Records</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor ="let item of flags;">
                <div class="card-content">
                    <div class="card-img">
											<!--
                        <img src="{{interventionrecord.image}}" alt="https://res.cloudinary.com/dkkqfs44i/image/upload/v1593270129/media/images/intervention_default_al92r5.jpg">
                        <span><h4>{{interventionrecord.title}}</h4></span>
                    </div>
										-->
                    <div class="card-desc">
                        <h3>{{flag.title}}</h3>
                        <p>{{flag.description}}</p>
                            <a href="flag/{{flag.id}}" class="btn-card">View</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
		</div>
</section>
</div>
<!-- details card section starts from here -->
