/* card details start  */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');

section{
    padding: 100px 0;
}
.details-card {
	background: #ecf0f1;
}

.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color: #1ABC9C;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: orange;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}

/* End card section */
/* ****************************************************************** */
/* ************************************************************* */

hr {
    border-top: 1px solid #007bff;
    width:70%;
}

a {color: #000;}


.card{
    background-color: #FFFFFF;
    padding:0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}


.card:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    color:black;
}

address{
  margin-bottom: 0px;
}




#author a{
  color: #fff;
  text-decoration: none;
    
}
body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.modal-backdrop {background: #f7f7f7;}

/* ************************ */

#contatti{
    background-color: #70c3be;
    letter-spacing: 2px;
    }
  #contatti a{
    color: #fff;
    text-decoration: none;
  }
  
  
  /* @media (max-width: 575.98px) {
  
    #contatti{padding-bottom: 800px;}
    #contatti .maps iframe{
      width: 100%;
      height: 450px;
    }
   }
  
  
  @media (min-width: 576px) {
  
     #contatti{padding-bottom: 800px;}
  
     #contatti .maps iframe{
       width: 100%;
       height: 450px;
     }
   }
  
  @media (min-width: 768px) {
  
    #contatti{padding-bottom: 350px;}
  
    #contatti .maps iframe{
      width: 100%;
      height: 850px;
    }
  }
  
  @media (min-width: 992px) {
    #contatti{padding-bottom: 200px;}
  
     #contatti .maps iframe{
       width: 100%;
       height: 700px;
     }
  }
   */
  
  #author a{
    color: #fff;
    text-decoration: none;
  }  
  agm-map{
    height: 400px;
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { #contatti{padding-bottom: 800px;}
#contatti .maps iframe{
  width: 100%;
  height: 450px;
}}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {#contatti{padding-bottom: 800px;}
  
#contatti .maps iframe{
  width: 100%;
  height: 450px;
}}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {#contatti{padding-bottom: 350px;}
  
#contatti .maps iframe{
  width: 100%;
  height: 850px;
}}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #contatti{padding-bottom: 200px;}
  
#contatti .maps iframe{
  width: 100%;
  height: 700px;
}}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {#contatti{padding-bottom: 200px;}
  
#contatti .maps iframe{
  width: 100%;
  height: 700px;}
}