<div class="" style="margin-left: 30%;width: 2000px;">
  <div class="row">

    <div class="col-md-4 mt-5" *ngIf="intervention_record">
      <div class="card text-center">
        <img class="card-img-top" src="{{intervention_record.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{intervention_record.title}}</h5>
          <hr>
          <p>{{intervention_record.description}}-------Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            metus elit, finibus et hendrerit sollicitudin, condimentum in ipsum. Ut vulputate interdum mi, nec mattis
            ipsum ornare in. Donec non efficitur arcu. Mauris ex massa, facilisis id tincidunt non, mollis at nisl. Cras
            in risus sit amet arcu interdum molestie. Fusce sem nulla, pulvinar ut pulvinar porttitor, vulputate
            eleifend lectus. Vestibulum fringilla, mi sit amet convallis malesuada, nibh augue ullamcorper sapien, vitae
            lobortis dui dolor ut nisi. Nullam euismod ligula eget maximus convallis. Sed ligula ipsum, vulputate vitae
            porta sed, finibus sit amet dolor. Nam cursus, dui eget finibus fermentum, erat elit euismod turpis, a
            luctus enim enim et est. Etiam eget scelerisque odio. Ut a justo et odio rhoncus gravida. Nullam finibus
            tempus leo, auctor pharetra elit pretium nec. Ut mauris velit, convallis sit amet lacinia feugiat, fringilla
            ornare nisi. Morbi nisl turpis, pretium a justo eu, consectetur maximus ligula.

          </p>
          <p>
            <a class="btn btn-primary" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
              role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-map"></i> Maps
            </a>
            <a class="btn btn-primary" style="margin-left: 10px;" class="btn btn-info btn-lg" data-toggle="modal"
              data-target="#videomodal" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-map"></i> video
            </a>

          </p>
          <div class="collapse" id="collapseExample">

          </div>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col" [ngSwitch]="intervention_record.status">
              
              <p style="color:rgb(172, 172, 30);" *ngIf="investigation"><i class="fas fa-exclamation"></i> <span> {{intervention_record.status}}</span> </p>
              <p style="color:rgb(228, 44, 54);" *ngIf="rejected"><i class="fas fa-ban"></i> <span> {{intervention_record.status}}</span> </p>
              <p style="color:green;" *ngIf="resolved"><i class="fas fa-check"></i> <span> {{intervention_record.status}}</span> </p>
              <p style="color:rgb(168, 86, 216);" *ngIf="stat" title="Awaiting admins/relevant party approval"><i class="fas fa-eye-slash"></i> <span> Waiting...</span> </p>
            </div>
            <div class="col">

              <a style="color:blue;" href="" data-toggle="modal" data-target="#bd-example-modal-lg" *ngIf="nullstatus">
                <i class="fa fa-cog" aria-hidden="true"></i> Edit</a>
                <a style="color:blue;" class="text-muted"   *ngIf="!nullstatus" title="This is because the status is either underreview,underinvestigation or resolved.">
                  <i class="far fa-times-circle" aria-hidden="true"></i> <SPAN >NOT-EDITABLE</SPAN> </a>
                  

            </div>
            <div class="col">

              <a href="" (click)='confirmdelete($event)'><svg class="bi bi-trash" style="color: red;" width="1em"
                  height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>&nbsp;<span style="color: red;">DELETE</span> </a>



            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <br>

</div>

<!-- ****************************** modal class -->
<div class="container">
  <div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">Location for:{{intervention_record.title}}</h4>
          </div>
          <div class="modal-body">
            <div class="card card-body">
              <agm-map [latitude]="editlatitude" [longitude]="editlongitude" (mapClick)="onChoseLocation($event)">
                <agm-marker [latitude]="editlatitude" [longitude]="editlongitude" style="color: black;"></agm-marker>
              </agm-map>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
<!-- *******************************edit modal**************** -->

<!-- testing -->


<div class="modal fade " id="bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row" id="contatti" *ngIf="intervention_record" class="edit-form">
        <div class="container mt-5">

          <div class="row" style="height:550px;">
            <div class="col-md-6 maps">
              <agm-map [latitude]="editlatitude" [longitude]="editlongitude" (mapClick)="onChoseLocation($event)">
                <agm-marker [latitude]="editlatitude" [longitude]="editlongitude" style="color: black;"></agm-marker>
              </agm-map>
            </div>
            <div class="col-md-6">
              <h2 class="text-uppercase mt-3 font-weight-bold text-white">UPDATE </h2>
              <form action="">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="edittitle">Title</label>
                      <input type="text" class="form-control" id="edittitle" name="edittitle" [(ngModel)]="edittitle"
                        class="form-control mt-2" placeholder="Title...">
                    </div>

                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="file" id="editimage" name="editimage" [(ngModel)]="editimage"
                        (change)="onIMageChanged($event)">
                      <label for="image"><a href="{{intervention_record.image}}">IMAGE LINK</a></label>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="file" id="editvideos" name="editvideos" [(ngModel)]="editvideos"
                        (change)="onVideoChanged($event)">
                      <label for="image"><a href="{{intervention_record.videos}}">IMAGE LINK</a></label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group" id="exampleFormControlTextarea1">
                      <textarea type="edittext" id="editdescription" name="editdescription" class="form-control mt-2"
                        placeholder="Description...." rows="3" [(ngModel)]="editdescription"></textarea>
                    </div>
                  </div>



                  <div class="col-12">
                    <button class="btn btn-light " data-dismiss="modal" (click)="updaterecord()" type="submit">Update</button>
                  </div>
                </div>
              </form>

            </div>

          </div>
        </div>
      </div>



    </div>
  </div>
</div>
<!-- ********************video modal000 -->
<div class="modal fade " id="videomodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <video width="100%" height="100%" src="{{intervention_record.videos}}" controls></video>
    </div>
  </div>
</div>
<!-- ********************************8EDIT MODUL END************************* -->