#carouselExampleCaptions{
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
}
.carousel-inner > .carousel-item > img  {
    height: 100vh;
    width: 100%;
}
.home ,p ,h1 ,h5 {
    opacity: 0.5;
    color: black;
    background-color: white;
    font-family: 'Domine', serif;
}
body {
    margin: 10px;
}
.about *{
    text-align: center;
    font-style: oblique;
    color: #111816;
}