<div class= "container">
    <div id="carousel" class="carousel-slide" data-ride="carousel"></div>
        <!-- indicators -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- <div class="home">
        <br><br><br><br><br><br>
        <h1>I-REPORTER</h1>
        <hr>
        <p>We help citizens to have a voice by taking part in the development of the country 
            by pointing out areas which have lacked the adequate infrastracture and facilites.
        </p>
        <br><br><br><br><br><br><br>
    </div> -->
    
</div>