.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }
  agm-map{
    height: 400px;
  }

  /* ******************8 */
  /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
/* .interventionrecord,
.image {
  min-height: 60vh;
} */

/* .bg-image { */
  /* background-image: url('https://res.cloudinary.com/mhmd/image/upload/v1555917661/art-colorful-contemporary-2047905_dxtao7.jpg'); */
  /* background-size: cover;
  background-position: center center; */
/* } */
