<body>
  <div class="container-fluid " *ngIf="!submitted">
    <div class="row no-gutter">

      <div class="col-md-6 bg-light">
        <div class="interventionrecord d-flex align-items-center py-5">

          <!-- Demo content-->
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-7 mx-auto">
                <h2 class="">New Intervention Record</h2>
                <hr>
                <div class="form-group mt-3 mb-3">
                  <label for="title">Title</label>

                  <input type="text" class="form-control  border-0 shadow-lg p-3 mb-5 px-4" id="title" required
                    [(ngModel)]="title" placeholder="Title" name="title" />
                </div>
                <div class="form-group mb-3">
                  <label for="description">Description</label>
                  <textarea class="form-control border-0 shadow-lg p-3 mb-5 px-4" id="description" required
                    [(ngModel)]="description" placeholder="Description" name="description">  </textarea> </div>
                <label for="image"> Image
                  <input type="file" (change)="onIMageChanged($event)" id="image" required [(ngModel)]="image"
                    name="image"></label><br>
                <label for="image"> Video
                  <input (change)="onVideoChanged($event)" id="videos" required [(ngModel)]="videos" type="file"
                    name="videos"></label>

                <button class="btn " (click)="saveInterventionRecord()">POST</button>
              </div>
            </div>
          </div><!-- End -->

        </div>
      </div><!-- End -->
      <div class="col-md-6  ">
        <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
      </div>

    </div>
  </div>

</body>
